.section-two {
  font-family: arial, helvetica, sans-serif;
  background-color: rgb(40, 44, 52);
  height: calc(100%);
  overflow: hidden;
}

.s2-about-me {
  color: #61dafb;
  font-size: 5em;
  margin: 0;
  padding: 0 0 15px;
}

.s2-card {
  &-header {
    text-align: center;
  }
}
